<div id="<%= dom_id image %>">
  <tr>
    <td>
      <%= link_to image_tag(image.image_file.variant(:thumb)), image.image_file, target: :_blank %>
    </td>
    <td>
      <%= image.name %>
    </td>
    <td>
      <%= link_to "Show", image %>
    </td>
    <td>
      <%= link_to "Label", label_image_path(image) %>
    </td>
  </tr>
</div>
