<p style="color: green"><%= notice %></p>

<div id="<%= dom_id @image %>">
  <p>
    <strong>Name:</strong>
    <%= @image.name %>
  </p>

  <p>
    <%= link_to image_tag(@image.image_file.variant(:thumb)), @image.image_file, target: :_blank %>
  </p>

  <p>
    <strong>Labels:</strong>
    <% @image.image_labels.each do |label| %>
      <%= label.label_name%>
    <% end %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= @image.notes %>
  </p>
</div>

<div>
  <%= link_to "Edit this image", edit_image_path(@image) %>
  <br>
  <%= link_to "Label this image", label_image_path(@image) %>

  <%= button_to "Destroy this image", @image, method: :delete %>
</div>
